{%- liquid
  assign target = product.selected_or_first_available_variant
  assign compare_at_price = target.compare_at_price
  assign price = target.price | default: 1999
-%}
<div class="bls__product-label-detail" id="{{ block.id }}">
  {%- if compare_at_price > price and compare_at_price != blank -%}
    <div id="bls__product-label" class="bls__product-label fs-12 pointer-events-none inline-block">
      <div class="bls__sale-label">
        {%- assign p = compare_at_price | minus: price -%}
        {%- if p > 0 -%}
          {%- assign p = p | times: 100.0 | divided_by: compare_at_price | round -%}
        {%- endif -%}
        -
        {{- p -}}
        %
      </div>
    </div>
  {%- endif -%}
  {% if product.metafields.bls.custom_product_badge %}
    <div class="bls__product-label fs-12 pointer-events-none inline-block">
      <div class="bls__custom-label">
        {{ product.metafields.bls.custom_product_badge }}
      </div>
    </div>
  {% endif %}
</div>
{% if th_st.show_vendors and product.vendor != blank %}
  <div class="bls__product-vendors">{{ product.vendor | link_to_vendor }}</div>
{% endif %}
